body{
    color : rgb(255, 253, 253);
    font-family: 'Lobster', cursive;
 	font-size: 13px;
    font-weight:normal;
    width: 90%; 
    margin: center;
    text-align: center;
    background-position: center;
    background: radial-gradient(rgb(112, 193, 199), rgb(151, 126, 185));
    
    
}

nav ul{
    padding :0px;
    margin :0px;
    list-style-type: none;
    background-color: rgb(86, 95, 221);
    border-radius: 10px;
    
    
    
}

nav li{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0px;
    padding :0px;
    border-right: 1px solid rgb(236, 235, 243);
    text-align: center;
    line-height: 40px;

}

nav li :hover{
    background-color: rgb(140, 0, 255);
}

nav li a {
    display: block;
    text-decoration: none;
    color: rgb(250, 250, 250);
}
.OL{
    text-align: left;
    font-size: 12px;
    padding : 15px;
   
}

.PB{
    width: 2%;
    
    
}

.Feu{
    height: 500px;
    
}

.Alex{
    text-align: center;
    
}

.Th{
    float: right;
    margin: 0 0 0 0;
    height: 90px;
    border: solid rgba(255, 0, 140, 0.589);
    
} 

.B{
    color:rgb(26, 97, 42);
}

.M{
    color:#ac2e2e;
}

.L{
    color:blue;
}

.Cit{
    border:3px solid rgb(114, 114, 114);
    background-color: rgb(143, 140, 140);
    border-radius: 20px;
}

.Tab{
    
	margin: auto;
    border-color: 3px solid grey;
    background-color: blueviolet;
}

a :hover{
    background-color: rgb(11, 247, 207);
}

