body{
    color : rgb(255, 253, 253);
    font-family: 'Lobster', cursive;
 	font-size: 11px;
    font-weight:normal;
    width: 90%; 
    margin: center;
    text-align: center;
    background-position: center;
    background: radial-gradient(rgb(131, 231, 239), rgb(58, 42, 80));
    
    
}

nav ul{
    padding :0px;
    margin :0px;
    list-style-type: none;
    background-color: rgb(124, 96, 247);
    border-radius: 10px;
    
    
    
}

nav li{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0px;
    padding :0px;
    border-right: 1px solid rgb(236, 235, 243);
    text-align: center;
    line-height: 40px;

}

nav li :hover{
    background-color: rgb(140, 0, 255);
}

nav li a {
    display: block;
    text-decoration: none;
    color: rgb(250, 250, 250);
}
.OL{
    text-align: left;
    font-size: 10px;
    
}

.Th{
    width: 70px;
    height: 70px;
    margin-right: 2500px;
} 

.B{
    color:rgb(15, 241, 15);
}

.M{
    color:#ec1111;
}

.L{
    color:blue;
}

.Cit{
    border:2px solid rgb(114, 114, 114);
    background-color: rgb(185, 185, 185);
    border-radius: 20px;
    
    
}

a :hover{
    background-color: rgb(11, 247, 207);
}


